/*
    My Styles and for overwriting default bootstrap styles
*/


/*** Post List Styles **********************************************************/

.my-post-list-page-header {
     padding-bottom: 0px;
    margin: 10px 0 20px;
    border-bottom: 2px solid LightSalmon ;
}

.my-post-votescore {
    text-align: center;
    color: red;
    font-size: 24px;
    font-weight: bold;
    font-style: inherit;
    margin-left: 5px;
    margin-right: 5px;
}

.link listing .link {
    margin-bottom: 5px;
}

.link listing .odd {
    overflow: hidden!important;
    margin-left: 1px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
}

.link {
    margin: 0 0 10px;
    padding-bottom: 0px;
    border-bottom: 1px solid LightGrey;
}

div {
    display: block;
}

.sitetable {
    list-style-type: none;
}

.content .link .midcol, .midcol-spacer {
    width: 6.1ex;
}

.link .midcol {
    font-weight: bold;
    font-size: small;
}

.midcol {
    float: left;
    margin-right: 11px;
    margin-left: 0px;
    background: transparent;
    overflow: visible;
}

.entry {
    overflow: hidden;
    margin-left: 3px;
    opacity: 1;
}

.link .title {
    font-size: large;
    font-weight: normal;
    margin-bottom: 1px;
}

.tagline {
    color: #888;
    font-size: smaller;
    margin-top: 5px;
    margin-bottom: 5px;
}

.link .flat-list {
    display: block;
    padding: 1px 0;
}

.flat-list {
    list-style-type: none;
    display: inline;
}

ol, ul {
    list-style: none;
    font-size: lar
}

.entry .buttons li {
    display: inline-block;
    border: none;
    padding-right: 4px;
    line-height: 1.6em;
}

.flat-list li, .flat-list form {
    display: inline;
    white-space: nowrap;
}

.entry .buttons li+li {
    padding-left: 4px;
}

.flat-list li, .flat-list form {
    display: inline;
    white-space: nowrap;
}

.entry .buttons li a {
    color: #888;
    font-weight: bold;
    padding: 0 1px;
    font-size: smaller;
}


/***
    NavBar Styles

    Generated by: https://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0

    Need to do two modifications to .navbar-inverse and
        .navbar-inverse .navbar-nav > .active > a,
        .navbar-inverse .navbar-nav > .active > a:hover,
        .navbar-inverse .navbar-nav > .active > a:focus
****/

.navbar-inverse {
  background-color: #f0781c;
  border-color: #94e984;
  background-image: none; /* need to overide default background-image*/
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #3c21e5;
}
.navbar-inverse .navbar-text {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #3c21e5;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-image: none; /* need to overide default background-image*/
  color: #3c21e5;
  background-color: #94e984;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #3c21e5;
  background-color: #94e984;
}
.navbar-inverse .navbar-toggle {
  border-color: #94e984;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #94e984;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #ffffff;
}
.navbar-inverse .navbar-link {
  color: #ffffff;
}
.navbar-inverse .navbar-link:hover {
  color: #3c21e5;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #3c21e5;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3c21e5;
    background-color: #94e984;
  }
}



